:root {
  --font-color-header: white;
  --font-color-main-titles: #3f3d59;
  --font-color-main-text: #3f3d59;
  --dark-bck-wrapper: #F2F2F2;
}
/*reset*/
*,
*::before,
*::after,
body {
  color: var(--font-color-header);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html,
body {
  width: 100%;
  box-sizing: border-box;
}
.wrapper {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
.content{
  flex:1 1 auto;
	margin-bottom: 60px;
}


/*the basis    -    main*/
.wrapper {
  background: var(--dark-bck-wrapper);
  border-radius: 10px;
}
.conteiner {
  padding: 10px;
  max-width: 1280px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
h2, .sub_titles {
  color: var(--font-color-main-titles);
  text-align: center;
  margin-bottom: 30px;
}
.btn {
  border-radius: 15px;
  border: 0;
  color: white;
  background: #3195ff;
  font-size: 15px;
}
.btn a {
  padding: 10px 25px;
  color: white;
  display: block;
}
.main_conteiner {
  margin-top: 350px;
  z-index: 2;
}
.main_conteiner p {
  color: var(--font-color-main-text)
}


/* header */
.bg_animation {
  position: absolute;
  opacity: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 440px;
  background-image: none;
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(150deg,#0a5dd3,#24a7ff);
  /* background-image: -o-linear-gradient(150deg,#0a5dd3,#24a7ff);
  background-image: linear-gradient(150deg,#0a5dd3,#24a7ff); */
  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  -webkit-transform: skewY(-8deg);
  -moz-transform: skewY(-8deg);
  -ms-transform: skewY(-8deg);
  transform: skewY(-8deg);
}
.up_header_sait {
  position: relative;
  height: 110px;
}
.header_sait, nav {
  position: absolute;
}
.header_sait {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 10px 0 10px;
}
.dark_light {
  position: absolute;
  right: 20px;
  top: 150px;
  border-radius: 15px;
  background: #3195ff;
}
.dark_light button {
  background: transparent;
  padding: 5px 10px;
  color: white;
  font-size: 25px;
  border: 0;
}
.dark_light button:hover {
  cursor: pointer;
}
.active_theme {
  color: black !important;
}
.navig, .navigation {
  width: 100%;
}
.navigation ul {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.navigation ul li {
  list-style-type: none;
}
.conteiner_nav {
  width: 100%;
  margin: 0;
  padding: 0;
  padding: 0 10px 0 10px;
}


/* Главная страница */
.box_rates {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
.box_rates_items {
  width: 30%;
  box-shadow: -1px 8px 18px rgba(0,0,0,.08);
}
.box_rates_items:hover {
  box-shadow: -1px 8px 18px rgba(0,0,0,.04);
}
.box_rates_items p,
.box_rates_items button {
  text-align: center;
  margin: 15px auto;
  display: block;
}
